#root {
  height:100%;
}
.login {
  input {
    margin-bottom: 1em;
  }
  form {
    margin-top: 1em;
  }
  button{
    margin-right: 1em;
    width: 100%;
  }
  width: 20em;
}

p, li {
  font-size: 17pt;
}

.banner {
  width: 100%;
  position: relative;
}

.bg-image {
  width: 100%;
  z-index: -1;
}

.header-text{
  color: white;
  padding-top: 15%;
  font-size: 30pt;
}

.img {
  height: auto;
  width: auto;
}


