@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

$base-green: rgb(0, 255, 136);
$base-blue: rgb(0, 212, 255);

$theme-colors: (
  "primary": $base-green,
);

#root {
  margin: 0;
  padding: 0;
  // font-family: Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
}

.header{
  color: white;
  background-color: $base-green; 
  background: linear-gradient(90deg,  $base-green 0%, $base-blue 100%);
  padding: 1em;
  padding-left: 7em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.apo-details {
    padding-left: 5em;
}