@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

$base-green: rgb(34, 139, 34);
$base-blue: rgb(0, 212, 255);

$theme-colors: (
  "primary": $base-green,
);

.main-container {
  min-height: 100vh;
  height: 100vh;
  display: block;
  position: relative;
}

#root {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  word-wrap: break-word;
  overflow-x: hidden;
}

.header{
  color: white;
  background-color: $base-green; 
  background: $base-green;
  padding: 1em;
  padding-left: 7em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.apo-details {
    padding-left: 5em;
}

.basic-padding {
  padding: 3em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}
