@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

$base-green: rgb(14, 134, 78);
$base-blue: rgb(0, 212, 255);
$base-green-2: rgb(7, 170, 94);

$theme-colors: (
  'primary': $base-green-2
);

.main-container {
  min-height: 100vh;
  height: 100vh;
  display: block;
  position: relative;
}

#root {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  word-wrap: break-word;
  overflow-x: hidden;
}

.header{
  color: white;
  background-color: $base-green; 
  background: $base-green;
  padding: 1em;
  padding-left: 7em;
  z-index: 999;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.apo-details {
    padding-left: 5em;
}

.basic-padding {
  padding: 3em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}


.btn-primary {
  background-color:  $base-green-2 !important;
  border: $base-green-2 !important;
}

.unselectable {
  pointer-events: none;
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}