@import 'App.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: #f5f5f5;
  padding-left: 3em;

  a {
    color: $base-green;
  }

  a:hover {
    color: $base-green-2;
  }
}

.footer > span {
  padding-left: 1em;
  padding-right: 1em;
}

.footer > a {
  padding-left: 1em;
  padding-right: 1em;
}